* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(219, 238, 255);
    height: 100vh;
}

/* Contenedor principal del login */
.login-container {
    display: flex;                /* Activa flexbox */
    justify-content: center;      /* Centra el contenido horizontalmente */
    align-items: center;          /* Centra el contenido verticalmente */
    height: 100%;                 /* Ocupa toda la altura disponible */
}

/* Tarjeta del formulario */
.login-card {
    background-color: aliceblue;
    padding: 40px 30px;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título del formulario */
.login-title {
    font-size: 20px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
}

.login-subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    color: #ccc;
}
/* Cada grupo de campo del formulario */
.form-group {
    margin-bottom: 20px;
}

/* Estilo de los inputs */
.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

/* Efecto visual al enfocar el input */
.form-group input:focus {
    border-color: aquamarine;
    box-shadow: 0 0 5px rgb(37, 117, 252, 0.4);
}

/* Botón de inicio de sesión */
.btn-login {
    width: 100%;
    padding: 12px;
    background: rgb(71, 93, 189);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

/* Efecto hover en el botón */
.btn-login:hover {
    background-color: #4375b6;
}

/*REGISTRO*/
.register-text {
    margin-top: 20px;
    font-size: 14px;
}
.register-text a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}

/* ---- select ---- */
.form-group select {
    width: 100%;
    padding: 12px;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    background-color: #fff;
    color: #333;
}

/* Cuando el usuario hace clic o enfoca el select */
.form-group select:focus {
    border-color: rgb(37, 117, 252);
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.4);
}
